[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinxcontrib-plantuml = "*"
sphinx-copybutton = "*"
sphinx-design = "*"

[dev-packages]

[requires]
python_version = "3.13"
